$myFont: "Times New Roman", Times, serif;
$backgrundImage: "./img/1031.png";
$budgetDeficitBG1: "./img/300812.png";
$budgetDeficitBG2: "./img/301724.png";
$budgetSurplusBG1: "./img/300782.png";
$budgetSurplusBG2: "./img/301725.png";
$footerBG: "./img/rounded-lines-pattern.png";
$my3Dshadow: -10px 10px 10px grey, 10px 10px 10px grey;
