* {
  margin: 5px;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  text-align: center; }

body {
  background-image: url("./img/1031.png");
  background-size: 23%;
  background-repeat: no-repeat; }

header {
  font-size: 32px;
  text-shadow: 6px 6px 12px; }

footer {
  position: fixed;
  background-image: url("./img/rounded-lines-pattern.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 12%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
  z-index: -1; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible; }

select, #inputName, #inputAmount,
#adding, #removing, #clearAll {
  outline: 2px ridge grey; }

form, .btn, .listSection, .balance_T, .balance {
  box-shadow: -10px 10px 10px grey, 10px 10px 10px grey; }

.listSection {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.incomeLi, .costLi {
  font-size: 18px; }

.balance_T {
  font-size: 32px;
  text-shadow: 6px 6px 12px; }

.inc, .upp {
  text-shadow: 3px 3px 15px green; }

.positive {
  color: white;
  text-shadow: 1px 1px 1px black, 0 0 24px green, 0 0 5px darkgreen; }

.cost, .down {
  text-shadow: 3px 3px 15px red; }

.negative {
  color: white;
  text-shadow: 1px 1px 1px black, 0 0 24px red, 0 0 5px darkred; }

.upp {
  position: relative;
  animation-name: goingUpp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes goingUpp {
  from {
    top: 30px; }
  to {
    top: 0px; } }

.down {
  position: relative;
  animation-name: goingDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes goingDown {
  from {
    top: 0px; }
  to {
    top: 30px; } }
